:root {
  color-scheme: light;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}
